body {
  font-family: "Montserrat", sans-serif;
  color: #212121;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-image: url("../images/shutterstock-bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 57px;
  padding: 28px 0 200px;
  background-color: blueviolet;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 39px;
}

.header__contact-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 133px;
}

.header__contact-tel span {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #212121;
}

.header__contact-link {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 1px;
  color: #212121;
}

.header__contact-messenger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #212121;
}

.header__contact-messenger img {
  margin-right: 8px;
}

.header__contact-btn {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: linear-gradient(140.56deg, #ff5b14 10.77%, #ff7f47 97.73%);
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 18px 45px 18px 44px;
  border: none;
  cursor: pointer;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-bottom: 53px;
  padding: 17px 0 18px;
}

.header__nav-link {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #212121;
}

.header__nav-link--active {
  font-weight: 500;
  color: #ff5b14;
}

.header__title {
  max-width: 493px;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 14px;
}

.header__title span {
  color: #ff5b14;
}

.header__text {
  max-width: 458px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #212121;
  margin-bottom: 53px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__subtitle {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
  margin-bottom: 35px;
}

.header__list {
  list-style-type: none;
}

.header__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.header__list-item img {
  margin-right: 15px;
}

.header__inner-info {
  max-width: 350px;
  height: 174px;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 25px 15px 25px;
  margin-top: -53px;
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
}

.header__inner-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 141.4%;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.header__inner-btn {
  background: linear-gradient(140.56deg, #ff5b14 10.77%, #ff7f47 97.73%);
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 13px 65px;
  border-radius: 10px;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.expert {
  background-image: url("../images/expert/bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  padding: 171px 0 83px 0px;
}

.expert__wrapper {
  padding-left: 92px;
}

.expert__box {
  display: block;
  margin: 0 auto;
  max-width: 725px;
  -webkit-transform: translateY(-250px);
          transform: translateY(-250px);
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 14px 15px 13px 15px;
  position: relative;
}

.expert__box::before {
  position: absolute;
  content: "";
  width: 44px;
  height: 44px;
  background: #34353a;
  border-radius: 15px;
  bottom: -15px;
  left: -15px;
}

.expert__box::after {
  position: absolute;
  content: "";
  width: 44px;
  height: 44px;
  background: #34353a;
  border-radius: 15px;
  top: -15px;
  right: -15px;
}

.expert__block {
  border: 1px dashed rgba(0, 0, 0, 0.35);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  padding: 21px 50px 35px 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.expert__block::after {
  position: absolute;
  content: url("../images/expert/circle.svg");
  bottom: -64px;
  right: -102px;
}

.expert__block img {
  margin-right: 18px;
}

.expert__block-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.expert__block-text span {
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  color: #ff5b14;
}

.expert__title {
  display: block;
  margin: -118px auto 41px;
  max-width: 646px;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
}

.expert__title span {
  color: #ff5b14;
}

.expert__info {
  max-width: 677px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.expert__info-text {
  margin-bottom: 15px;
}

.expert__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-bottom: 41px;
}

.expert__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 100px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.expert__list-item span {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #ff5b14;
}

.expert__subtitle {
  max-width: 520px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 13px;
}

.expert__link {
  font-weight: 800;
  font-size: 28px;
  line-height: 34px;
  color: #212121;
}

.material {
  padding: 88px 0 82px;
}

.material__title {
  max-width: 552px;
  margin: 0 auto 16px;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
}

.material__title span {
  color: #ff5b14;
}

.material__subtitle {
  max-width: 733px;
  margin: 0 auto 39px;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

.material__box {
  background-image: url("../images/materials-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: bottom;
  height: 524px;
  padding-top: 66px;
  padding-left: 185px;
}

.material__box-card:first-child {
  max-width: 270px;
  background: linear-gradient(183.27deg, #ff5b14 27.33%, #ff7f47 119.01%);
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.material__box-content:first-child {
  max-width: 255px;
  margin-left: auto;
  padding: 17px 17px 18px 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  border-radius: 0px 15px 15px 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 6px;
}

.material__box-content:first-child span {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: rgba(33, 33, 33, 0.8);
}

.material__box-card:nth-child(2) {
  max-width: 244px;
  background: linear-gradient(183.27deg, #ff5b14 27.33%, #ff7f47 119.01%);
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding-left: 15px;
  -webkit-transform: translateX(590px);
          transform: translateX(590px);
  margin-top: 120px;
}

.material__box-content:nth-child(2) {
  max-width: 229px;
  padding: 18px 17px 18px 20px;
  margin-left: auto;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.material__box-card:nth-child(3) {
  max-width: 244px;
  background: linear-gradient(183.27deg, #ff5b14 27.33%, #ff7f47 119.01%);
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding-left: 15px;
  -webkit-transform: translateX(350px);
          transform: translateX(350px);
  margin-top: 75px;
}

.price {
  background: #f9f9f9;
  padding: 91px 0 108px;
}

.price__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 52px;
}

.price__title span {
  color: #ff5b14;
}

.price__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price__card {
  width: 254px;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.price__card-text {
  background: linear-gradient(109.65deg, #ff5b14 -15%, #ff7f47 81.54%);
  border-radius: 15px 15px 0px 0px;
  padding: 10px 6px 9px;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
}

.price__card-text span {
  font-weight: 700;
}

.price__card-content {
  padding: 27px 24px 29px 17px;
}

.price__card-list {
  list-style-type: none;
}

.price__card-item {
  font-weight: 500;
  padding-left: 22px;
  position: relative;
  margin-bottom: 15px;
}

.price__card-item::before {
  position: absolute;
  content: url("../images/price/check.svg");
  left: 0px;
  top: 7px;
}

.price__card-item span {
  font-weight: 300;
  font-size: 14px;
  line-height: 34px;
}

.price__card-sale {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.work {
  background-image: url("../images/work/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 76px 0 95px;
}

.work__title {
  margin-bottom: 49px;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
}

.work__title span {
  color: #ff5b14;
}

.work__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 31px;
}

.work__card {
  width: 254px;
  background-color: white;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  text-align: center;
  padding: 41px 0px 37px;
}

.work__card-title {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  margin-bottom: 42px;
  margin-top: -41px;
}

.work__card-img {
  margin-bottom: 40px;
}

.work__card-text {
  max-width: 191px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.work__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 29px 31px 36px 11px;
}

.work__info-img {
  margin-right: 27px;
}

.work__info-list {
  list-style-type: none;
}

.work__info-item {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

.work__info-item span {
  font-weight: 500;
}

.work__info-btn {
  margin-left: auto;
  background: linear-gradient(140.56deg, #ff5b14 10.77%, #ff7f47 97.73%);
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: none;
  padding: 24px 35px;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.work__card-check {
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
}

.semi {
  height: 27px;
  width: 44px;
  border-radius: 0 0 40px 40px;
  margin: 0px auto;
  border: 1px solid #fff;
  border-top: none;
  background-color: #ececec;
  -webkit-transform: translateY(-41px);
          transform: translateY(-41px);
}

.question {
  background-image: url("../images/exp-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 82px 0 107px 11px;
}

.question__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 49px;
}

.question__title span {
  color: #ff5b14;
}

.question__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.question__info-list {
  max-width: 542px;
  list-style-type: none;
  padding-left: 31px;
  padding-bottom: 55px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
  margin-bottom: 45px;
}

.question__info-item {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  position: relative;
}

.question__info-item::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: linear-gradient(155.9deg, #ff5b14 -4.69%, #ff7f47 116.5%);
  border-radius: 50%;
  left: -31px;
  top: 3px;
}

.question__info-item:first-child {
  margin-bottom: 27px;
}

.question__info-item span {
  font-weight: 500;
}

.question__info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question__info-text {
  margin-right: 80px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.question__info-btn {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: linear-gradient(140.56deg, #ff5b14 10.77%, #ff7f47 97.73%);
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  padding: 14px 40px;
  border: none;
  border-radius: 15px;
}

.question__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 26px;
}

.question__content-list {
  padding-top: 41px;
  list-style-type: none;
}

.question__content-item {
  width: 204px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 24px;
  padding-left: 21px;
  position: relative;
}

.question__content-item::before {
  position: absolute;
  content: url("../images/exp-check.svg");
  left: 0px;
}

.question__content-item--span {
  position: relative;
}

.question__content-item--span::before {
  position: absolute;
  content: "";
  border: 1px solid #f1f1f1;
  -webkit-transform: rotate(14.79deg);
          transform: rotate(14.79deg);
  left: -285px;
  top: -5px;
  width: 82px;
}

.question__content-item--second {
  position: relative;
}

.question__content-item--second::before {
  position: absolute;
  content: "";
  width: 58px;
  border: 1px solid #f1f1f1;
  -webkit-transform: rotate(24.35deg);
          transform: rotate(24.35deg);
  left: -185px;
  top: -8px;
}

.question__content-item--third {
  position: relative;
}

.question__content-item--third::before {
  position: absolute;
  content: "";
  width: 18px;
  border: 1px solid #f1f1f1;
  -webkit-transform: rotate(-15.81deg);
          transform: rotate(-15.81deg);
  left: -220px;
  top: 12px;
}

.question__content-item--four {
  position: relative;
}

.question__content-item--four::before {
  position: absolute;
  content: "";
  width: 36px;
  border: 1px solid #f1f1f1;
  -webkit-transform: rotate(-79.81deg);
          transform: rotate(-79.81deg);
  left: -173px;
  top: 35px;
}

.flat {
  background: url("../images/flat/quiz-bg.png") no-repeat left bottom;
  padding: 122px 0 119px;
}

.flat__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  margin-bottom: 46px;
}

.flat__title span {
  color: #ff5b14;
}

.flat__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 56px;
}

.flat__list span {
  display: block;
  margin: 0 39px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #d8d8d8;
}

.flat__list-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #212121;
}

.flat__list-link--active {
  color: #ff5b14;
}

.flat__slide {
  display: block;
  margin: 0 auto;
  width: 949px;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 48px 32px 51px 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flat__slide-info {
  margin-bottom: 47px;
}

.flat__slide-content {
  min-width: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flat__slide-content img {
  margin-bottom: 20px;
  margin-right: 20px;
}

.flat__slide-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 26px;
}

.flat__slide-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px dashed rgba(33, 33, 33, 0.3);
  border-bottom: 1px dashed rgba(33, 33, 33, 0.3);
  padding-top: 13px;
  padding-bottom: 13px;
}

.flat__slide-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 221px;
}

.flat__slide-text img {
  margin-right: 19px;
}

.flat__slide-desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ff5b14;
}

.flat__slide-btn {
  background: linear-gradient(140.56deg, #ff5b14 10.77%, #ff7f47 97.73%);
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 15px 25px;
  margin-right: auto;
}

.flat__slide-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #212121;
}

.slick-prev {
  color: #ff5b14;
}

.slick-dots {
  bottom: -70px;
}

.slick-dots li button {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #d8d8d8;
  margin-right: 26px;
}

.slick-dots .slick-active button {
  background-color: #ff5b14;
}

.form__inner {
  padding: 106px 0 94px;
  background-image: url("../images/expert-bg.png");
  background-repeat: no-repeat;
  position: relative;
}

.form__inner::after {
  position: absolute;
  content: url("../images/over.svg");
  left: 0;
  bottom: -40px;
}

.form__inner::before {
  position: absolute;
  content: url("../images/plit.png");
  right: -150px;
  bottom: -81px;
}

.form__box {
  max-width: 905px;
  margin: 0 auto;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 22px 19px 20px;
}

.form__block {
  border: 1px dashed rgba(0, 0, 0, 0.35);
  border-radius: 15px;
  padding: 37px 0 22px;
  text-align: center;
}

.form__block-text {
  margin: 0 auto 18px;
  max-width: 680px;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
}

.form__block-link {
  font-weight: 800;
  font-size: 50px;
  line-height: 61px;
  color: #ff5b14;
}

.about {
  background-image: url("../images/about/about-bg.png");
  padding: 88px 0 106px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 63px;
}

.about__title span {
  color: #ff5b14;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__card {
  margin-right: 39px;
}

.about__card-img {
  display: block;
  margin: 0 auto 5px;
}

.about__card-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.about__card-text:nth-child(4) {
  max-width: 177px;
}

.accordeon {
  padding: 93px 0 62px;
  background-color: #cac7c7;
  margin-bottom: 0;
}

.accordeon__title {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.accordeon__title span {
  color: #ff5b14;
}

.accordeon__inner {
  width: 814px;
  margin: 0 auto;
}

.accordeon__description {
  width: calc(100% - 40px);
  margin: 0 auto;
  height: 0;
  color: rgba(0, 0, 0, 0);
  background-color: #bfe2ff;
  line-height: 18px;
  padding: 10px 30px;
  -webkit-transition: color 0.5s, padding 0.5s;
  transition: color 0.5s, padding 0.5s;
  display: none;
  font-size: 16px;
  margin-bottom: 10px;
}

.accordeon__label {
  display: block;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 29px 18px 29px 46px;
  margin-bottom: 13px;
  -webkit-transition: color 0.35s;
  transition: color 0.35s;
  background-image: url("../images/accord-checked.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

.accordeon__label:hover {
  color: cornflowerblue;
}

.accordeon__input {
  display: none;
}

.accordeon__input:checked ~ .accordeon__description {
  display: block;
  color: #000;
  height: auto;
}

.tel {
  background-color: #fff;
  padding: 62px 0 96px;
}

.tel__inner {
  background-image: url("../images/tel-bg.png");
  background-repeat: no-repeat;
  background-position-y: center;
}

.tel__content {
  width: 814px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 57px 0 58px;
  text-align: center;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.tel__content:after {
  content: "";
  width: 68px;
  height: 68px;
  background: #34353a;
  border-radius: 15px;
  left: -15px;
  bottom: -15px;
  position: absolute;
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
}

.tel__content::before {
  content: "";
  width: 68px;
  height: 68px;
  background: #34353a;
  border-radius: 15px;
  position: absolute;
  top: -15px;
  right: -15px;
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
}

.tel__box {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.tel__box::before {
  position: absolute;
  content: url("../images/over.svg");
  left: -75px;
  top: -83px;
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
}

.tel__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #ff5b14;
  margin-bottom: 18px;
}

.tel__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 35px;
}

.tel__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 636px;
  margin: 0 auto 36px;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.tel__form-tel {
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  border-radius: 15px 0px 0px 15px;
  border: none;
  width: 400px;
  padding: 25px;
}

.tel__form-btn {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 25px 65px;
  background: linear-gradient(140.56deg, #ff5b14 10.77%, #ff7f47 97.73%);
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 0px 15px 15px 0px;
  border: none;
}

.tel__span {
  display: block;
  margin: 0 auto 8px;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
}

.tel__link {
  font-weight: 800;
  font-size: 35px;
  line-height: 43px;
  color: #ff5b14;
}

.contact {
  background-image: url("../images/contact-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: 95px 0 92px;
}

.contact__inner {
  max-width: 447px;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 22px 18px 18px 19px;
}

.contact__box {
  border: 1px dashed rgba(0, 0, 0, 0.35);
  border-radius: 15px;
  padding: 32px 41px 32px 46px;
  text-align: center;
}

.contact__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 21px;
  text-transform: uppercase;
}

.contact__title span {
  color: #ff5b14;
}

.contact__subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 11px;
}

.contact__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 18px;
  border-bottom: 1px dashed #212121;
  margin-bottom: 16px;
}

.contact__link {
  display: block;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 11px;
  color: #212121;
}

.contact__span {
  display: block;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 18px;
}

.contact__desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
}

.contact__desc span {
  display: block;
  margin: 0 auto;
  width: 300px;
  font-size: 16px;
  line-height: 19px;
}

.contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__social-icon {
  margin-right: 20px;
  width: 41px;
  height: 41px;
  background-color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}

.footer {
  background-image: url("../images/footer-bg.png");
  padding: 36px 0 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.footer a {
  margin-bottom: 10px;
}

.footer__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ffffff;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 0 28px;
    background-position-y: initial;
  }
  .header__title {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 10px;
  }
  .header__text {
    font-size: 19px;
    line-height: 35px;
    margin-bottom: 10px;
  }
  .header__inner-info {
    display: none;
  }
  .header__contact-tel {
    margin-left: 0px;
  }
  .header__contact-link {
    font-size: 18px;
    line-height: 26px;
  }
  .header__contact-btn {
    padding: 8px;
  }
  .header__nav-link {
    font-size: 18px;
    line-height: 18px;
  }
}

@media screen and (max-width: 375px) {
  .header {
    display: block;
    background-color: inherit;
    padding: 16px 0 120px;
    background-image: none;
    background-image: url("../images/shutterstockSmall.png");
    background-position-x: right;
    background-position-y: bottom;
  }
  .header__nav {
    display: none;
  }
  .header__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__contact .logo {
    margin-right: auto;
    margin-bottom: 8px;
  }
  .header__contact-tel {
    margin: 0 auto 8px;
  }
  .header__contact-tel span {
    font-size: 12px;
  }
  .header__contact-link {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  .header__contact-messenger {
    margin-bottom: 10px;
  }
  .header__title {
    font-size: 29px;
    line-height: 35px;
    margin-bottom: 13px;
  }
  .header__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 27px;
  }
  .header__subtitle {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 21px;
    text-align: center;
  }
  .header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__inner-info {
    max-width: 211px;
    padding: 26px 10px 27px 9px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .header__inner-text {
    font-size: 11px;
    line-height: 141.4%;
    margin-bottom: 14px;
  }
  .header__inner-btn {
    font-size: 12px;
    line-height: 15px;
    padding: 8px 30px;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 56px;
  }
  .header__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin-right: 10px;
  }
  .header__list-item img {
    margin-bottom: 12px;
    margin-right: 0;
    width: 35px;
    height: 35px;
  }
  .expert {
    background-image: none;
    background-image: url("../images/expert-bgSmall.png");
    background-position-y: center;
  }
  .expert__box {
    max-width: 343px;
  }
  .expert__wrapper {
    padding-left: 0;
  }
  .expert__title {
    margin: -118px auto 21px;
    text-align: center;
    font-size: 22px;
    line-height: 27px;
  }
  .expert__info {
    font-size: 16px;
    line-height: 20px;
  }
  .expert__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 64px;
  }
  .expert__list-item {
    text-align: left;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 12px;
  }
  .expert__list-item span {
    text-align: left;
    font-size: 28px;
    line-height: 34px;
  }
  .expert__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
    text-align: center;
  }
  .expert__link {
    font-size: 25px;
    line-height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .expert__block {
    padding: 25px 40px;
  }
  .expert__block::after {
    display: none;
  }
  .expert__block img {
    width: 49px;
    height: 49px;
  }
  .expert__block-text {
    font-size: 14px;
    line-height: 17px;
  }
  .material {
    padding: 53px 0 53px;
  }
  .material__title {
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 13px;
  }
  .material__subtitle {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 14px;
  }
  .material__box {
    background-image: none;
    background-image: url("../images/materialsSmall.png");
    background-position: left;
    background-position-y: left;
    height: auto;
    padding-top: 10px;
    padding-left: 0px;
    margin-bottom: 26px;
  }
  .material__box-content {
    font-size: 16px;
    line-height: 20px;
    padding: 12px 8px 27px 21px;
  }
  .material__box-card:nth-child(1) {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    margin-bottom: 10px;
  }
  .material__box-card:nth-child(2) {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    margin-bottom: 10px;
  }
  .material__box-card:nth-child(3) {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .price {
    padding: 53px 0 53px;
  }
  .price__title {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 24px;
  }
  .price__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .price__card {
    width: 100%;
    margin-bottom: 27px;
  }
  .price__card:last-child {
    margin-bottom: 0;
  }
  .price__card img {
    width: inherit;
  }
  .work {
    padding: 40px 0 40px;
    background-size: cover;
  }
  .work__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .work__card {
    margin: 0 auto 10px;
  }
  .work__info-btn {
    display: none;
  }
  .work__info-item {
    width: 224px;
  }
  .question {
    padding: 58px 0px 46px;
  }
  .question__title {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 30px;
  }
  .question__info-item {
    font-size: 14px;
    line-height: 17px;
  }
  .question__info-item:last-child {
    margin-bottom: 29px;
  }
  .question__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .question__content-images {
    width: 201px;
    height: 151px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .question__info-text {
    font-size: 12px;
    line-height: 15px;
    margin-right: 0;
  }
  .question__info-btn {
    font-size: 12px;
    line-height: 15px;
    padding: 14px 33px;
    margin-left: auto;
  }
  .question__content {
    margin-left: 0;
    margin-top: 20px;
  }
  .question__content-list {
    padding-top: 0;
  }
  .question__content-item {
    width: 100%;
    font-size: 10px;
    line-height: 12px;
  }
  .question__content-item--span::before {
    -webkit-transform: rotate(-9.21deg);
            transform: rotate(-9.21deg);
    left: -188px;
    top: 8px;
    width: 52px;
  }
  .question__content-item--third::before {
    width: 12px;
    -webkit-transform: rotate(31.19deg);
            transform: rotate(31.19deg);
    left: -145px;
    top: -2px;
  }
  .question__content-item--second::before {
    width: 32px;
    left: -121px;
    top: 0px;
    -webkit-transform: rotate(14.35deg);
            transform: rotate(14.35deg);
  }
  .question__content-item--four::before {
    width: 5px;
    -webkit-transform: rotate(60.19deg);
            transform: rotate(60.19deg);
    left: -106px;
    top: -3px;
  }
  .flat {
    padding: 31px 0 31px;
    background-image: none;
  }
  .flat .flaf__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .flat__title {
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 15px;
  }
  .flat__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 49px;
  }
  .flat__list span {
    display: none;
  }
  .flat__list-item {
    margin-bottom: 7px;
  }
  .flat__list-item--second {
    margin-left: 54px;
  }
  .flat__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 18px 5px;
  }
  .flat__slide-content {
    min-width: 330px;
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
  .flat__slide-content img {
    width: 150px;
    height: 150px;
    margin-right: 0;
  }
  .flat__slide-title {
    max-width: 310px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .flat__slide-text img {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0;
  }
  .flat__slide-span {
    font-size: 16px;
    line-height: 20px;
    margin-left: 22px;
  }
  .flat__slide-desc {
    font-size: 16px;
    line-height: 20px;
    margin-left: -40px;
  }
  .flat__slide-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .flat__slide-btn {
    display: block;
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto 14px;
  }
  .flat__slide-link {
    background-color: aqua;
    display: block;
    margin: auto;
  }
  .flat__slide-info {
    margin-bottom: 21px;
  }
  .form__inner {
    padding: 59px 0 90px;
    background-image: none;
    background-image: url("../images/form-bg.png");
    background-position-x: left;
  }
  .form__inner::before {
    content: none;
  }
  .form__inner::after {
    content: none;
  }
  .form__block-text {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 12px;
  }
  .form__block-text span {
    color: #ff5b14;
  }
  .form__block-link {
    font-size: 30px;
    line-height: 37px;
  }
  .about {
    padding: 82px 0 86px;
  }
  .about__title {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 40px;
  }
  .about__card-img {
    width: 60px;
    height: 60px;
    margin: 0;
    margin-bottom: 22px;
  }
  .about__card-text {
    font-size: 14px;
    line-height: 17px;
  }
  .about__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about__card {
    margin-right: 0px;
    width: 50%;
    margin-bottom: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .accordeon {
    padding: 57px 0 42px;
    background: #cac7c7;
  }
  .accordeon__title {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 19px;
  }
  .accordeon__inner {
    width: 342px;
  }
  .accordeon__label {
    padding-left: 19px;
    font-size: 14px;
    line-height: 17px;
    background-position-x: 270px;
    background-image: none;
    background-image: url("../images/accord-checkedSmall.svg");
  }
  .tel__content {
    max-width: 333px;
    padding: 38px 15px 42px 14px;
  }
  .tel__content::before {
    width: 66px;
    height: 66px;
  }
  .tel__content::after {
    width: 66px;
    height: 66px;
  }
  .tel__inner {
    background-image: none;
  }
  .tel__title {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 14px;
  }
  .tel__subtitle {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 37px;
  }
  .tel__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 0px;
    margin-bottom: 20px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .tel__form-tel {
    width: 100%;
    -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-bottom: 27px;
  }
  .tel__form-btn {
    font-size: 14px;
    line-height: 17px;
    -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 224px;
    margin: 0 auto;
  }
  .tel__span {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 9px;
  }
  .tel__link {
    font-size: 25px;
    line-height: 30px;
  }
  .tel__box::before {
    content: none;
    content: url("../images/overSm.svg");
    left: -23px;
  }
  .contact {
    background-image: none;
    padding: 42px 0 38px;
  }
  .contact__inner {
    padding: 0;
  }
  .contact__box {
    border: none;
  }
  .contact__title {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 27px;
  }
  .contact__desc span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer {
    padding: 16px 0 19px;
  }
  .footer__text {
    font-size: 12px;
    line-height: 15px;
  }
}
/*# sourceMappingURL=style.css.map */